@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(225, 100%, 94%);
  font-family: "Red Hat Display", sans-serif;
  background-image: url(/images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card Styles */

.card {
  width: 410px;
  height: 650px;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card {
  background-image: url(/images/illustration-hero.svg);
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Section Styles */
.section1 {
  text-align: center;
  margin-top: 16rem;
}

.section2 {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  background: hsl(225, 100%, 98%);
  width: 335px;
  padding: 1rem;
  border-radius: 5px;
}

/* Button Styles */
.btn {
  border: none;
  margin-left: 4rem;
  margin-bottom: 1rem;
  padding: 0.8rem;
  width: 18rem;
  color: hsl(225, 100%, 94%);
  font-weight: 700;
  background: hsl(245, 75%, 52%);
  box-shadow: 5px 5px 15px hsla(245, 75%, 52%, 0.7);
  border-radius: 7px;
  cursor: pointer;
}

.btn:hover {
  background: hsla(245, 75%, 52%, 0.7);
}

.cancel {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.89rem;
  font-weight: 700;
  cursor: pointer;
}

.cancel:hover {
  color: hsl(223, 47%, 23%);
}

/* Text Styles */

p {
  color: hsl(224, 23%, 55%);
}

.text {
  width: 28ch;
  margin-top: 0.8rem;
  margin-left: 3.5rem;
  line-height: 1.5;
}

/* SVG Icon */

.test-1 {
}
