@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container Styles */

body {
  background: hsl(225, 100%, 94%);
  font-family: "Red Hat Display", sans-serif;
  background-image: url(/images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #fff;
  width: 400px;
  height: 615px;
}

/* Image Styles */

.hero {
  width: 400px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-bottom: 3rem;
}

/* Text Styles */
.text-content,
.plan-box,
.bottom-btns {
  text-align: center;
}

.text-content {
}

.text {
  margin-top: 0.8rem;
  width: 28ch;
  margin-left: 4rem;
  margin-bottom: 1rem;
}

/* Buttons */
.bottom-btns {
  margin-top: 2rem;
}
.proceed-btn {
  margin-bottom: 1.5rem;
  border: none;
  padding: 0.8rem;
  border-radius: 5px;
  width: 19rem;
  background: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 94%);
  box-shadow: 5px 5px 15px hsla(245, 75%, 52%, 0.7);
  font-weight: 700;
  cursor: pointer;
}

.proceed-btn:hover {
  background: hsla(245, 75%, 52%, 0.7);
}

/* Box */
